@using prjCooking.Models
@model prjCooking.ViewModel.CPartyViewModel



@{
    ViewBag.Title = "新增聚會";
}
<style>

    .timeFalse {
        color: crimson;
        font-size: 14px;
    }

    .timeTrue {
        color: darkcyan;
        font-size: 14px;
    }

</style>

<h2 class="text-info">舉辦共煮</h2>
<hr>
<br>

@using (Html.BeginForm("CreateParty", "Meet",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row">

                <div class="col-md-7 offset-md-2 text-center bg-light">

                    <div class="row">

                        <div class="form-group col-md-12 text-left">
                            <br>
                            <!-- 照片 -->
                            <img src="~/Image/party_02.jpg" id="imgpreview" class="card-img" name="f聚會照片">
                            <br><br>
                            <input type="file" name="image" id="fileupload" accept="image/jpeg, image/gif, image/png" onchange="openFile()" multiple>
                            <br>
                            <!-- 照片結束 -->
                            <hr>
                        </div>
                    
                        <div class="form-group col-12 text-left">
                            <label><span class="text-danger">*</span>聚會名稱</label>

                            @Html.EditorFor(model => model.f聚會名稱, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入聚會名稱", name = "f聚會名稱" } })
                            @Html.ValidationMessageFor(model => model.f聚會名稱, "", new { @class = "text-danger" })
                        </div>
                               <div class="form-group col-12 text-left">
                                   <label>請介紹您的共煮聚會:</label> 
                               
                                   @Html.EditorFor(model => model.f聚會內容, new { htmlAttributes = new { @class = "form-control", placeholder = "", name = "f聚會內容" } })
                                   @Html.ValidationMessageFor(model => model.f聚會內容, "", new { @class = "text-danger" })
                                 
                               </div>

                    
                 
                        <div class="form-group col-12 text-left">
                            <label>關鍵字<span class="text-danger">(請在每個關鍵字前加上#)</span></label>
                            @Html.EditorFor(model => model.f聚會關鍵字, new { htmlAttributes = new { @class = "form-control", placeholder = "請在每個關鍵字前加上#", name = "f聚會關鍵字", id = "txt_tag" } })<span id="W_tag"></span>
                            @Html.ValidationMessageFor(model => model.f聚會關鍵字, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group col-12 text-left">
                            <label> <span class="text-danger">*</span>聚會平台</label>
                            @Html.EditorFor(model => model.f聚會軟體, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入平台名稱", name = "f聚會軟體" } })
                            @Html.ValidationMessageFor(model => model.f聚會軟體, "", new { @class = "text-danger" })
                        </div>

                  
                        <div class="form-group col-12 text-left">
                            <label><span class="text-danger">*</span>聚會連結</label>

                            @Html.EditorFor(model => model.f聚會軟體URL, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入平台連結", name = "f聚會軟體URL" } })
                            @Html.ValidationMessageFor(model => model.f聚會軟體URL, "", new { @class = "text-danger" })
                        </div>
              
                        <div class="form-group col-12 text-left">
                            <label><span class="text-danger">*</span>舉辦日期</label>
                      
                            @Html.EditorFor(model => model.f聚會日期, new { htmlAttributes = new { @class = "form-control", @type = "date", style = "width:60%", name = "f聚會日期", id = "txt_date" } })<span id="W_date"></span>
                            @Html.ValidationMessageFor(model => model.f聚會日期, "", new { @class = "text-danger" })
                        </div>
                
                        <div class="form-group col-12 text-left">
                            <label><span class="text-danger">*</span>開始時間</label>
                            @Html.EditorFor(model => model.f聚會開始時間, new { htmlAttributes = new { @class = "form-control", @type = "time", style = "width:60%", name = "f聚會開始時間", id = "txt_starttime" } })
                            @Html.ValidationMessageFor(model => model.f聚會開始時間, "", new { @class = "text-danger" })
                        </div>

                  
                        <div class="form-group col-12 text-left">
                            <label><span class="text-danger">*</span>結束時間</label>
                        
                            @Html.EditorFor(model => model.f聚會結束時間, new { htmlAttributes = new { @class = "form-control", @type = "time", style = "width:60%", name = "f聚會結束時間", id = "txt_endtime" } })<span id="W_endtime"></span>
                            @Html.ValidationMessageFor(model => model.f聚會結束時間, "", new { @class = "text-danger" })
                        </div>
                  
                        <div class="form-group col-12 text-left">
                            <label><span class="text-danger">*</span>名額<span class="text-danger">(只能輸入數字)</span></label>
                            @Html.EditorFor(model => model.f名額, new { htmlAttributes = new { @class = "form-control", @type = "number", placeholder = "", style = "width:25%", name = "f名額" } })
                            @Html.ValidationMessageFor(model => model.f名額, "", new { @class = "text-danger" })

                        </div>
                  
                        <div class="col-12 text-left">
                            <hr>
                            <p>煮辦人聯絡資訊:</p>
                            <p class="text-danger">以下內容僅提供給審核成功的共煮成員</p>
                        </div>

                        <!-- 煮辦人聯絡資訊 -->

                        <br /><br />

                        <div class="form-group col-12 text-left">
                            <p>信箱:</p>
                        
                            <input type="text" class="form-control" placeholder="" value="@ViewBag.email " disabled>
                        </div>

                        <div class="form-group col-12 text-left">
                            @Html.LabelFor(model => model.f聚會通訊軟體, htmlAttributes: new { @class = "control-label" })
    
                            @Html.EditorFor(model => model.f聚會通訊軟體, new { htmlAttributes = new { @class = "form-control", name = "f聚會通訊軟體" } })
                            @Html.ValidationMessageFor(model => model.f聚會通訊軟體, "", new { @class = "text-danger" })
                           
                        </div>

                        <div class="form-group col-12 text-left">
                            @Html.LabelFor(model => model.f聚會通訊軟體帳號, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.f聚會通訊軟體帳號, new { htmlAttributes = new { @class = "form-control", name = "f聚會通訊軟體帳號" } })
                            @Html.ValidationMessageFor(model => model.f聚會通訊軟體帳號, "", new { @class = "text-danger" })

                        </div>

                        <div class="col-12 text-right">
                           <hr>

                            <input type="button" value="發布" class="btn btn-outline-info" data-toggle="modal" data-target="#modalone" />
                            <br><br>
                            <div class="modal text-center" id="modalone">
                                <div class="modal-md modal-dialog modal-dialog-scrollable">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <img src="~/Image/heart.svg" class="modal-title">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>確定要發布嗎?</p>

                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" value="取消" class="btn btn-sm btn-outline-info" data-dismiss="modal">

                                            <input type="submit" value="確定" class="btn btn-sm btn-outline-info">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    function openFile() {

        var fileUpload = document.getElementById("fileupload");
        var imgPreview = document.getElementById("imgpreview");
        var imgOne = fileUpload.files[0];

        if (fileUpload.files.length > 0) {

            var reader = new FileReader();

            reader.onload = function () {
                imgPreview.src = reader.result;
            };

            imgPreview.onload = function () {

            }

            reader.readAsDataURL(imgOne);

        } else {

        }
    }
</script>
<script>
    document.getElementById("txt_endtime").addEventListener("blur", chktime);
    function chktime() {
        let starttime = document.getElementById("txt_starttime");
        let endtime = document.getElementById("txt_endtime");
        let starttimeVal = starttime.value;
        let endtimeVal = endtime.value;
        let sp = document.getElementById("W_endtime");

        if (endtimeVal == " ") {
            sp.innerHTML = "⛔ 結束時間不可空白"
            document.getElementById("W_endtime").className = "timeFalse";
        }
        else if (endtimeVal <= starttimeVal) {
            sp.innerHTML = "⛔ 結束時間需大於開始時間";
            document.getElementById("W_endtime").className = "timeFalse";
        } else {
            sp.innerHTML = "✔ 輸入正確";
            document.getElementById("W_endtime").className = "timeTrue";
        }
    }
    //判斷日期大於今日
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();

    var output = d.getFullYear() + '-' +
        (month < 10 ? '0' : '') + month + '-' +
        (day < 10 ? '0' : '') + day;
    document.getElementById("txt_date").addEventListener("blur", chkdate);
    function chkdate() {
        let party_date = document.getElementById("txt_date");
        let party_dateVal = party_date.value;
        let sp = document.getElementById("W_date");

        console.log(party_dateVal);
        console.log(output);

        if (party_dateVal < output) {

            sp.innerHTML = "⛔ 聚會時間需大於等於今日";
            document.getElementById("W_date").className = "timeFalse";
        } else {
            sp.innerHTML = "✔ 輸入正確";
            document.getElementById("W_date").className = "timeTrue";
        }
    }

</script>
<script>
    //驗證關鍵字第一個字是#
    document.getElementById("txt_tag").addEventListener("blur", chktime);
    function chktime() {
        let tag = document.getElementById("txt_tag");
        let tagVal = tag.value;
        let tagValLen = tagVal.length;
        let sp = document.getElementById("W_tag");
        
        console.log(tagVal.substr(0,1));

        if (tagVal != null) {
            if (tagVal.substr(0, 1) == "#") {
                sp.innerHTML = "✔ 輸入正確";
                document.getElementById("W_tag").className = "timeTrue";

            } else {
                sp.innerHTML = "⛔ 關鍵字前面需加上#";
                document.getElementById("W_tag").className = "timeFalse";
            }
        }
    }
</script>

