@using prjCooking.Models
@model prjCooking.ViewModel.C聚會資訊For頁面ViewModel

@{
    ViewBag.Title = "showParty";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
    .positif{
      position: fixed !important;
      right: 150px;
    }
    @@media (min-width:761px) {
      .positif{
        position: fixed !important;
        top:25%;
        right: 150px;
      }
    }
    @@media (max-width:760px) {
      .positif{
        position: relative !important;
        right: 50px;
        top: 30px;
      }
    }
</style>

<!-- 網站內容 -->
<!-- 一小塊空白 -->
<section class="service-wrapper py-7">
    <div class="service-tag py-5 bg-white">
    </div>
</section>

<section>
    <div class="container ">
        <div class="row">

            <div class="col-md-6 offset-md-1 text-center bg-light">
                <div class="row">

                    <div class="col-md-12 text-left text-secondary">
                        <br>
                        <!-- 照片 -->

                        <img class="card-img-top" src="~/Image/@Model.聚會資訊.f聚會照片" width="300">

                        <br><br>
                        <!-- 照片結束 -->
                        <!-- 聚會主題 -->
                        <p><a href="~/Member/Show個人頁面/@Model.主辦人資訊.f會員Id"><img src="~/Image/@Model.主辦人資訊.f會員照片" class="rounded-circle" width="30"></a><a class="text-secondary" href="~/Member/Show個人頁面/@Model.主辦人資訊.f會員Id"> @Model.主辦人資訊.f會員姓名</a></p>


                        @if ((Model.Is核准參與) || (Model.主辦人資訊.f會員Id == Model.當前登入會員資訊.f會員Id))
                        {
                            <!-- 煮辦人資訊 -->
                            <label><i class="bi bi-envelope"></i> @Model.主辦人資訊.f會員信箱</label>
                            <br>
                            <label>通訊軟體:@Model.聚會資訊.f聚會通訊軟體</label>
                            <br>
                            <label>帳號:@Model.聚會資訊.f聚會通訊軟體帳號</label>
                            <br />
                            <a href="@Model.聚會資訊.f聚會軟體URL">@Model.聚會資訊.f聚會軟體URL</a>
                        }
                        <br>
                        <hr>
                        <!-- 個人資訊結束 -->
                        <h3 class="text-dark">@Model.聚會資訊.f聚會名稱</h3>


                        <!-- 聚會內容 -->
                        <label class="text-dark">@Model.聚會資訊.f聚會內容</label>
                        <!-- 關鍵字 -->
                        <!-- 點選到首頁搜尋此關鍵字的結果 -->
                        <br>
                        @foreach (string 關鍵字 in Model.聚會關鍵字)
                        {
                            <a href="#">#@關鍵字</a>
                        }
                        <hr>
                        <!-- 日期 -->
                        <p><i class="bi bi-clock" width="16" height="16"></i> @Model.聚會資訊.f聚會日期.ToString("yyyy/MM/dd") @Model.聚會資訊.f聚會開始時間.ToString("HH:mm")-@Model.聚會資訊.f聚會結束時間.Value.ToString("HH:mm")</p>

                        <!-- 視訊軟體 -->
                        <p><i class="bi bi-geo-alt"></i> @Model.聚會資訊.f聚會軟體</p>
                        <!-- 名額 -->
                        <p><i class="bi bi-people"></i> @Model.聚會資訊.f名額 人</p>
                        <!-- 若為主辦人瀏覽自己舉辦的聚會+disabled,btn就會無法點選-->
                        @{
                            if ((int)聚會狀態.可報名 == Model.聚會資訊.f聚會狀態 && Model.主辦人資訊.f會員Id != Model.當前登入會員資訊.f會員Id)
                            {
                                if (!Model.Is當前會員報名)
                                {
                                    
                                    <button class="form-control btn btn-secondary" type="button" data-toggle="modal" data-target="#modalone">@聚會狀態.可報名.ToString()</button>
                                    <br><br>
                                    <div class="modal text-center" id="modalone">
                                        <div class="modal-md modal-dialog modal-dialog-scrollable">

                                            <div class="modal-content">
                                                <div class="modal-header">

                                                    <i class="modal-title text-danger bi bi-exclamation-circle"></i>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>確定要報名嗎?</p>

                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">取消</button>
                                                    
                                                    <a href="~/Meet/報名?聚會Id=@Model.聚會資訊.f聚會Id" class="btn btn-sm btn-outline-info" >確定</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <button class="form-control btn btn-secondary" type="button" disabled>已報名 </button>
                                }
                            }
                            else
                            {
                                <button class="form-control btn btn-secondary" type="button" disabled>@Enum.GetName(typeof(聚會狀態), Model.聚會資訊.f聚會狀態.Value) </button>
                            }
                        }
                        <!-- 若為主辦人瀏覽自己舉辦的聚會+disabled,btn就會無法點選-->

                        <br><br>
                        <!-- 食材 -->
                        <!-- 1個食材row2,2個食材row3,3個食材row4 -->

                        <table class="col-5 table table-borderless table-sm text-secondary">
                            <tr>
                                <td class="text-dark">建議食材</td>
                            </tr>
                            @foreach (t建議食材 食材 in Model.食材資訊List)
                            {
                                <tr>
                                    <td>@食材.f食材名稱</td>
                                    <td class="text-left">@食材.f數量 @食材.f單位</td>
                                </tr>
                            }
                        </table>

                        @if ((int)聚會狀態.已結束 == Model.聚會資訊.f聚會狀態)
                        {
                            <hr>
                            <label class="text-dark">成果發表</label>
                            <br><br>
                        }


                    </div>
                    @if ((int)聚會狀態.已結束 == Model.聚會資訊.f聚會狀態)
                    {
                        <!-- 評價 -->
                        <div class="col-12">
                            <div class="row">
                                @{
                                    int count = 0;
                                    foreach (C參加者資訊For聚會頁面 參加者 in Model.參加者資訊List)
                                    {
                                        if (參加者.評論 != null)
                                        {
                                            <!-- 第一個成果 -->
                                            <!-- 點圖可放大/並顯示評論內容 -->
                                            <div class="col-md-4 mb-3">
                                                <a data-toggle="modal" data-target="#imgModa@{@count;}">
                                                    <img src="~/Image/@參加者.評論.f照片" class="img-fluid rounded">
                                                </a>
                                            </div>
                                            <!-- 點圖可放大/並顯示評論內容 -->
                                            <div class="modal fade bs-example-modal-md  text-center" id="imgModa@{@count}" tabindex="-1" role="dialog" data-toggle="modal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-md " style="display:inline-block;width:auto;">

                                                    <div class="modal-content col-10">
                                                        <div>
                                                            <img src="~/Image/@參加者.評論.f照片" class='carousel-inner img-responsive img-rounded' data-dismiss='modal'>
                                                            <div class='text-left'>
                                                                <br>
                                                                <img src='~/Image/@參加者.參加者資訊.f會員照片' class='rounded-circle' width='30'>
                                                                <h5>@參加者.參加者資訊.f會員姓名</h5><p>@參加者.評論.f留言</p>
                                                                <p class='text-right text-secondary'>
                                                                    @參加者.評論.f評價建立日期
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 第一個成果結束 -->
                                            count++;
                                        }
                                    }
                                }

                                <hr>

                            </div>
                            <!-- 編輯/留言 視窗 -->
                            @if (Model.Is核准參與 && (int)聚會狀態.已結束 == Model.聚會資訊.f聚會狀態 && !Model.Is成果發表)
                            {
                        <form method="post" action="~/Meet/新增評論" enctype="multipart/form-data" class="row" id="myform">
                            @Html.TextBox("參加者Id", Model.當前會員參加者Id, new { type = "hidden" })
                            @Html.TextBox("聚會Id", Model.聚會資訊.f聚會Id, new { type = "hidden" })
                            <div class="col-7 text-left">
                                <p>請發表您的共煮成果:<br><span class="text-danger">*需上傳圖片才能發布成果<br></span></p>
                                <a><img src="~/Image/@Model.當前登入會員資訊.f會員照片" class="rounded-circle" height="30" width="30"> @Model.當前登入會員資訊.f會員姓名</a>

                                <br><br>

                                <!-- 上傳照片 -->

                                <input type="file" name="上傳圖片" id="fileupload" accept="image/jpeg, image/gif, image/png" onchange="openFile()">

                                <p class="text-secondary">圖片格式:jpeg/gif/png</p>
                            </div>

                            <div class="col-5 text-center">
                                <!-- 圖片預覽的地方 -->
                                <img src="~/Image/imgadd_01.png" class="img-fluid rounded" id="imgpreview" width="150" height="150">
                                <!-- <img src="img/bg_01.jpg" > -->
                                <!-- <input class="btn btn-outline-danger" type="button" value="編輯"> -->



                            </div>
                            <!-- 留言視窗 結束 -->
                            <!-- 確認btn -->
                            <section class="row mb-3 d-none" id="commit">
                                <div class="col-7 ml-3">
                                    <!-- 有上傳圖片才顯示 -->
                                    <input type="text" name="留言" class="form-control" placeholder="新增留言..." style="" maxlength="30" id="formcommit">
                                    <span id="errmsg" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <input class="btn btn-outline-info" type="submit" value="確定上傳">
                                </div>
                            </section>
                            <!-- 確認btn 結束 -->
                        </form>
                            }
                        </div>
                    }


                    <br><br>
                </div>


            </div>



        </div>
        <!-- 顯示最新聚會開始 -->
        <aside class="positif">
            <div class="row">
                <div class="col-12 text-center mb-1">
                    <p><span class="badge badge-info">New</span>共煮聚會</p>
                </div>
                <div class="col-12 text-center">
                    <a href="~/Meet/showParty/@Model.最新聚會[0].f聚會Id"><img class="img-fluid rounded" src="~/Image/@Model.最新聚會[0].f聚會照片" width="150"></a>
                    <a href="~/Meet/showParty/@Model.最新聚會[0].f聚會Id" class="text-dark"><br>@Model.最新聚會[0].f聚會名稱</a>
                    <br>
                </div>

                <div class="col-12 text-center ">
                    <br>
                    <a href="~/Meet/showParty/@Model.最新聚會[1].f聚會Id"><img class="img-fluid rounded" src="~/Image/@Model.最新聚會[1].f聚會照片" width="150"></a>
                    <a href="~/Meet/showParty/@Model.最新聚會[1].f聚會Id" class="text-dark"><br>@Model.最新聚會[1].f聚會名稱</a>
                    <br>
                </div>

            </div>
        </aside>
        <!-- 最新聚會結束 -->
    </div>

</section>
<br>
<hr>

<script>
    function openFile() {

        var fileUpload = document.getElementById("fileupload");
        var imgPreview = document.getElementById("imgpreview");
        var imgOne = fileUpload.files[0];

        if (fileUpload.files.length > 0) {

            var reader = new FileReader();

            reader.onload = function () {
                imgPreview.src = reader.result;
            };

            imgPreview.onload = function () {

            }

            reader.readAsDataURL(imgOne);
            $("#commit").removeClass("d-none");

        } else {

        }
    }

    $("#myform").submit(function () {
        if ($("#formcommit").val() == "") {
            $("#errmsg").html("留言不可為空");

            return false;
        }
    });

</script>