@using prjCooking.ViewModel
@using prjCooking.Models
@model C主辦Or報名ViewModel

@{
    ViewBag.Title = "報名紀錄";
}

<section class="service-wrapper py-7">
    <div class="service-tag py-5 bg-white">
        <!-- 報名紀錄 標體 -->
        <section class="row text-center mt-5">
            <hgroup class="col">
                <h2>報名紀錄</h2>
            </hgroup>
        </section>
        <!-- end 報名紀錄 標體 -->
        <!-- 下拉選單 -->
        <section class="row justify-content-center my-3">
            <!-- 排序 -->
            <div class="dropdown mr-5">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">@Model.CurrentSort</button>
                <div class="dropdown-menu">
                    @{
                        int sortIndxe = 0;

                        foreach (string s in Model.SortList)
                        {
                            @Html.ActionLink(s, "報名紀錄",
                                new { sort = Model.SortNumberList[sortIndxe], statu = Model.CurrentStatu },
                                new { @class = "dropdown-item" }
                            );

                            sortIndxe++;
                        }
                    }
                </div>
            </div>
            <!-- end 排序 -->
            <!-- 活動狀態 -->
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">@Model.CurrentStatu</button>
                <div class="dropdown-menu">
                    @{
                        int statuIndex = 0;
                        foreach (string s in Model.StatuList)
                        {
                            @Html.ActionLink(s, "報名紀錄",
                                new { sort = Model.CurrentSort, statu = Model.StatuNumberList[statuIndex] },
                                new { @class = "dropdown-item" }
                            );

                            statuIndex++;
                        }
                    }
                </div>
            </div>
            <!-- edn 活動狀態 -->
        </section>
        <!-- end 下拉選單 -->
        <!-- 電腦版 報名紀錄 表格 -->
        <section class="row justify-content-center d-none d-md-block">
            <section class="col">
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>活動狀態</th>
                                <th>活動時間</th>
                                <th>活動主題</th>
                                <th>主辦人</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (CCaptureMeetInfo cmi in Model.Info)
                                {
                                    <!-- 一筆資料 -->
                                    <tr>
                                        <td class="align-middle">@cmi.聚會狀態Name</td>
                                        <td class="align-middle">@cmi.聚會日期</td>
                                        <td class="align-middle">@cmi.聚會名稱</td>
                                        <td class="align-middle">@cmi.主辦人</td>
                                        <!-- 按鈕 表格 -->
                                        <td class="row align-middle w-100">
                                            <section class="mr-2 my-2">
                                            @Html.ActionLink("查看詳細",
                                               "",
                                               null,
                                               new { @class = "btn btn-outline-info" })
                                            </section>
                                            @if ((int)聚會狀態.可報名 == cmi.聚會狀態Number)
                                            {
                                                <section class="mr-2 my-2">
                                                @Html.ActionLink("取消報名", 
                                                    "",
                                                    null,
                                                    new { @class = "btn btn-outline-danger" })
                                                </section>
                                            }
                                            @if ((int)聚會狀態.已結束 == cmi.聚會狀態Number && cmi.Is評價)
                                            {
                                                <section class="mr-2 my-2">
                                                @Html.ActionLink("已評分",
                                                   "", 
                                                   null,
                                                   new { @class = "btn btn-secondary disabled" })
                                                </section>
                                            }
                                            else if((int)聚會狀態.已結束 == cmi.聚會狀態Number)
                                            { 
                                                <section class="mr-2 my-2">
                                                @Html.ActionLink("進行評分",
                                                   "", 
                                                   null,
                                                   new { @class = "btn btn-secondary" })
                                                </section>
                                            }
                                        </td>
                                    </tr>
                                    <!-- end 一筆資料 -->
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
        <!-- end 電腦版 報名紀錄 表格 -->
        <!-- 手機板 報名紀錄 表格 -->
        <section class="row my-3 d-block d-md-none">
            @{
                foreach (CCaptureMeetInfo cmi in Model.Info)
                {
                    <!-- 一筆資料 -->
                    <div class="col mb-5">
                        <div class="card h-100" style="background-color: #eee;">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@cmi.聚會狀態Name</div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@cmi.聚會名稱</h5>
                                    <!-- Product price-->
                                    @cmi.聚會日期<br>
                                    @cmi.主辦人<br>
                                </div>
                            </div>
                            <!-- Product actions -->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    @Html.ActionLink("查看詳細",
                                       "",
                                       null,
                                       new { @class = "btn btn-info" })
                                    @if ((int)聚會狀態.可報名 == cmi.聚會狀態Number)
                                    {
                                        @Html.ActionLink("取消報名",
                                           "",
                                           null,
                                           new { @class = "btn btn-danger" })
                                    }
                                    @if ((int)聚會狀態.已結束 == cmi.聚會狀態Number && cmi.Is評價)
                                    {
                                        @Html.ActionLink("已評分",
                                           "",
                                           null,
                                           new { @class = "btn btn-secondary disabled" })
                                    }
                                    else if ((int)聚會狀態.已結束 == cmi.聚會狀態Number)
                                    {
                                        @Html.ActionLink("進行評分",
                                           "",
                                           null,
                                           new { @class = "btn btn-secondary" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 一筆資料 -->
                }
            }
        </section>
        <!-- end 手機板 報名紀錄 表格 -->
        <!-- 分頁 -->
        <nav class="row justify-content-center my-3">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#"><span>&laquo;</span></a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"><span>&raquo;</span></a>
                </li>
            </ul>
        </nav>
        <!-- end 分頁 -->
    </div>
</section>

