
@using prjCooking.Models
@model prjCooking.ViewModel.C個人頁面ViewModel

@{
    ViewBag.Title = "修改密碼";
}
<style>

    .timeFalse {
        color: crimson;
        font-size: 14px;
    }

    .timeTrue {
        color: darkcyan;
        font-size: 14px;
    }
</style>
<!-- 一小塊空白 -->
<section class="service-wrapper py-7">
    <div class="service-tag py-5 bg-white">
    </div>
</section>


@using (Html.BeginForm())
{
  


    <section class="container ">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center bg-light">

                <!-- 開始編輯資訊 -->
                <div class="form-horizontal row">

                    <div class=" col-12 text-left">
                        <br />
                        <h4 class="text-info">修改密碼</h4>
                        <hr />
                        <input type="hidden" name="blur_pwd" value="@Model.f會員密碼" /><br />
                        <label>請輸入目前密碼</label>

                    </div>
                    <div class="col-10 text-right">
                        <input type="password" class="form-control" name="txt_Nowpassword" id="pwd1" />

                        <p class="text-danger">@ViewBag.nowpwd</p>

                    </div>
                    <div class="col-2 text-left">
                        <input type="button" class="btn btn-outline-secondary" value="👀" onclick="ShowPwd1()" />
                    </div>

                    <div class="col-12 text-left">
                        <label>請輸入新密碼</label>
                    </div>
                    <div class="col-10 text-right">
                        <input type="password" class="form-control" name="txt_Newpassword1" id="pwd2" /><span id="idPassword"></span>
                        <p class="text-danger">@ViewBag.newpwd</p>
                    </div>
                    <div class="col-2 text-left">
                        <input type="button" class="btn btn-outline-secondary" value="👀" onclick="ShowPwd2()" />

                    </div>
                    <div class="col-12 text-left">
                        <label>再輸入一次新密碼</label>
                    </div>

                    <div class="col-10 text-right">
                        <input type="password" class="form-control" name="txt_Newpassword2" id="pwd3" /><span id="idPassword1"></span>
                        <p class="text-danger">@ViewBag.newpwd</p>
                    </div>
                    <div class="col-2 text-left">
                        <input type="button" class="btn btn-outline-secondary" value="👀" onclick="ShowPwd3()" />

                    </div>


                    <aside class="col-12 text-center">
                        <div class="form-group">
                            @Html.ActionLink("返回個人頁面", "Show個人頁面", "Member", new { id = @Model.f會員Id }, new { Class = "btn btn-outline-info" })

                            <input type="button" value="送出" class="btn btn-outline-info" data-toggle="modal" data-target="#modalone" />
                            <div class="modal" id="modalone">
                                <div class="modal-md modal-dialog modal-dialog-scrollable">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <img src="~/Image/heart.svg" class="modal-title">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>確定要修改嗎?</p>

                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" value="取消" class="btn btn-sm btn-outline-info" data-dismiss="modal">
                                            @*@Html.ActionLink("確定", "Edit_info1", "Member", new { id = @Model.f會員Id }, new { Class = "btn btn-sm btn-outline-info", @type= "submit" })*@
                                            <input type="submit" value="確定" class="btn btn-sm btn-outline-info">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 編輯資訊結束 -->
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>


}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    function ShowPwd1() {
        var x = document.getElementById("pwd1");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function ShowPwd2() {
        var x = document.getElementById("pwd2");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function ShowPwd3() {
        var x = document.getElementById("pwd3");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<script>
    document.getElementById("pwd2").addEventListener("blur", chkPassword);

function chkPassword() {
    let OPassword = document.getElementById("pwd2");
    let OPasswordVal = OPassword.value;

    let sp = document.getElementById("idPassword");
    let OPasswordValLen = OPasswordVal.length;
    let flag1 = false, flag2 = false;

    if (OPasswordVal == "") {
        sp.innerHTML = '\u{26A0}' + "密碼不可空白";
        document.getElementById("idPassword").className = "timeFalse";
    }
    else if (OPasswordValLen >= 6) {

        for (let i = 0; i < OPasswordValLen; i++) {
            let ch = OPasswordVal.charAt(i).toUpperCase();
            
            if (ch >= "A" && ch <= "Z")
                flag1 = true;
            else if (ch >= "0" && ch <= "9")
                flag2 = true;

            if (flag1 && flag2 ) break;
        }


        if (flag1 && flag2) {
            sp.innerHTML = "✔ 輸入正確";
            document.getElementById("idPassword").className = "timeTrue";
        }
        else {
            sp.innerHTML = "⛔ 密碼需含英文、數字";
            document.getElementById("idPassword").className = "timeFalse";
        }
    } else {
        sp.innerHTML ="⛔ 需輸入至少6個字";
        document.getElementById("idPassword").className = "timeFalse";
    }


}
</script>
<script>
    document.getElementById("pwd3").addEventListener("blur", chkPassword);

    function chkPassword() {
        let OPassword = document.getElementById("pwd3");
        let OPasswordVal = OPassword.value;

        let sp = document.getElementById("idPassword1");
        let OPasswordValLen = OPasswordVal.length;
        let flag1 = false, flag2 = false;

        if (OPasswordVal == "") {
            sp.innerHTML ="⛔ 密碼不可空白";
            document.getElementById("idPassword1").className = "timeFalse";
        }
        else if (OPasswordValLen >= 6) {

            for (let i = 0; i < OPasswordValLen; i++) {
                let ch = OPasswordVal.charAt(i).toUpperCase();

                if (ch >= "A" && ch <= "Z")
                    flag1 = true;
                else if (ch >= "0" && ch <= "9")
                    flag2 = true;

                if (flag1 && flag2) break;
            }


            if (flag1 && flag2) {
                sp.innerHTML = "✔ 輸入正確";
                document.getElementById("idPassword1").className = "timeTrue";
            }
            else {
                sp.innerHTML = "⛔ 密碼需含英文、數字";
                document.getElementById("idPassword1").className = "timeFalse";
            }
        } else {
            sp.innerHTML = "⛔ 需輸入至少6個字";
            document.getElementById("idPassword1").className = "timeFalse";
        }


    }
</script>