
@using prjCooking.Models
@model prjCooking.ViewModel.C個人頁面ViewModel



@{
    ViewBag.Title = "個人頁面";
}
<style>
    .positif {
        position: fixed !important;
        right: 150px;
    }

    @@media (min-width:761px) {
        .positif {
            position: fixed !important;
            right: 150px;
        }
    }

    @@media (max-width:760px) {
        .positif {
            position: relative !important;
            right: 50px;
            top: 30px;
        }
    }
</style>


<!-- 一小塊空白 -->
<section class="service-wrapper py-7">
    <div class="service-tag py-5 bg-white">
    </div>
</section>



<section>

    <div class="container ">
        <div class="row">



            <div class="col-md-6 offset-md-1 text-center bg-light">
                <div class="row">

                    <div class="col-md-6">
                        <br><br />
                        <img src="~/Image/@Model.f會員照片" class="rounded-circle " width="170" height="170" /><br />

                        <br><br>

                    </div>
                    <div class="col-md-6 text-left">

                        <input type="hidden" name="f會員Id" value="" />

                        <br><br />
                        <h4>@Model.f會員姓名</h4>

                        <!-- 自我介紹 -->
                        <p class="text-secondary">@Model.f自我介紹</p>
                        <br>


                        @if (Model.f會員Id == Model.目前會員id)
                        {
                            <div class="row">
                                <div class="col-6">
                                    @Html.ActionLink("編輯資訊", "Edit_info", "Member", new { id = Model.f會員Id }, new { Class = "btn btn-outline-secondary" })
                                </div>
                                <div class="col-6">
                                    @Html.ActionLink("修改密碼", "Edit_password", "Member", new { id = Model.f會員Id }, new { Class = "btn btn-outline-secondary" })
                                </div>
                            </div>
                        }

                        <br>

                    </div>

                    <br>
                    <div class="col-md-12 text-left">

                        <hr>
                        <h5 class="text-secondary">煮辦的聚會:</h5>
                    </div>

                </div>
                <br>
                <div class="row">
                    @foreach (var item in Model.會員聚會資訊)
                    {
                        <div class="col-6">

                            <a class="text-secondary" href="~/Meet/showParty/@item.f聚會Id"><img src="~/Image/@item.f聚會照片" class="img-fluid rounded" style="height: 200px;width: 200px;"></a>
                            <br />
                            @Html.ActionLink(@item.f聚會名稱, "showParty", "Meet", new { id = item.f聚會Id }, new { Class = "text-dark" })

                            <br /><br />
                        </div>

                    }

                   

                    <!-- 聚會展示結束 -->

                </div>
            </div>
            <!-- 顯示最新聚會開始 -->
            <aside class="col-md-2 positif">
                <div class="row ">
                    <div class="col-12 text-center mb-1">
                        <p><span class="badge badge-info">New</span>共煮聚會</p>
                    </div>
                    <div class="col-12 text-center">
                        <a href="~/Meet/showParty/@Model.最新聚會[0].f聚會Id"><img class="img-fluid rounded" src="~/Image/@Model.最新聚會[0].f聚會照片" width="150"></a>
                        <a href="~/Meet/showParty/@Model.最新聚會[0].f聚會Id" class="text-dark"><br>@Model.最新聚會[0].f聚會名稱</a>
                        <br>
                    </div>

                    <div class="col-12 text-center ">
                        <br>
                        <a href="~/Meet/showParty/@Model.最新聚會[1].f聚會Id"><img class="img-fluid rounded" src="~/Image/@Model.最新聚會[1].f聚會照片" width="150"></a>
                        <a href="~/Meet/showParty/@Model.最新聚會[1].f聚會Id" class="text-dark"><br>@Model.最新聚會[1].f聚會名稱</a>
                        <br>
                    </div>


                </div>
            </aside>
            <!-- 最新聚會結束 -->

        </div>
    </div>
</section>


<br>



