
@model prjCooking.Models.CAllMember


@{
    ViewBag.Title = "個人頁面";
}



<!-- 一小塊空白 -->
<section class="service-wrapper py-7">
    <div class="service-tag py-5 bg-white">
    </div>
</section>


<section>

    <div class="container ">
        <div class="row">

            <div class="col-md-6 offset-md-1 text-center bg-light">
                <div class="row">
                    <div class="col-md-6">
                        <br><br />
                        <img src="~/Image/@Model.f會員照片" class="rounded-circle " width="170" height="170" /><br />

                        <br><br>

                    </div>
                    <div class="col-md-6 text-left">

                        <input type="hidden" name="f會員Id" value="@Model.f會員Id" />

                        <br>
                        <h4>@Model.f會員姓名</h4>

                        <!-- 自我介紹 -->
                        <p class="text-secondary">@Model.f自我介紹</p>
                        
                        <br>
                    
                                @Html.ActionLink("編輯資訊", "Edit_info", "Member", new { id = @Model.f會員Id }, new { Class = "btn btn-outline-secondary" })
                                @Html.ActionLink("修改密碼", "Edit_password", "Member", new { id = @Model.f會員Id }, new { Class = "btn btn-outline-secondary" })


                          
                        


                        <br>


                    </div>
                    <br>
                    <div class="col-md-12 text-left">

                        <hr>
                        <h5 class="text-secondary">煮辦的聚會:</h5>
                    </div>

                </div>
                <br>
            </div>
        </div>
    </div>
</section>


<br>
<hr>


